In [1]:
import pandas as pd

In [2]:
file_path = "master_data.csv"

df = pd.read_csv(file_path)
df.head()

,Item,System_Type,Round,Min,Sec,Sec/100,Total_Seconds_Per_Round,Defects for Round,Observed Total Count for Round,Accuracy for Round,...,Notes,Count 1,Count 2,Count 3,Count 4,Count 5,Count 6,Count 7,Count 8,Count 9
0,black,human,1,2,40,36,160.36,5,141,1.0368,...,NaN,136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,black,human,2,2,42,40,162.40,5,141,1.0368,...,NaN,136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,black,human,3,2,22,87,142.87,5,139,1.0221,...,NaN,134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,black,human,4,1,38,14,98.14,5,139,1.0221,...,NaN,134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,black,human,5,2,1,47,121.47,5,139,1.0221,...,NaN,134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
import sys; print(sys.executable)

e:\Documents\GitHub\mldetection_data_analysis\.venv\Scripts\python.exe